<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neue Bewertung</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <header>
        <h1>Neue Bewertung abgeben</h1>
        <a href="/reviews" class="btn-primary">Neue Bewertung</a>
    </header>
    <div class="form-card">
        <form action="/reviews/new" method="POST">
            <input type="text" name="name" placeholder="Name des Lehrers" required>
            <label for="quality">Unterricht (<span id="quality-value">3</span>):</label>
            <input type="range" id="quality" name="quality" min="1" max="6" value="3" required oninput="document.getElementById('quality-value').innerText = this.value;">

            <label for="service">Freundlichkeit (<span id="service-value">3</span>):</label>
            <input type="range" id="service" name="service" min="1" max="6" value="3" required oninput="document.getElementById('service-value').innerText = this.value;">

            <label for="atmosphere">Atmosphäre (<span id="atmosphere-value">3</span>):</label>
            <input type="range" id="atmosphere" name="atmosphere" min="1" max="6" value="3" required oninput="document.getElementById('atmosphere-value').innerText = this.value;">

            <textarea name="comment" placeholder="Ihr Kommentar" required></textarea>
            <button type="submit" class="btn-success">Bewertung abschicken</button>
        </form>
    </div>
</div>
</body>
</html>